{% extends "www/base.html" %}
{% load static %}

{% block h1 %}About Us{% endblock %}

{% block content %}
    <span class="hero__blurb">
        UDonateacar was set up by Silverlake Automotive Recycling in 2010. Based in Southampton, Silverlake was already
        known for supporting its regional community and the team saw UDonateacar as a way to reach even more people by
        giving customers across the UK an easy way to make a charitable donation via scrapping their car responsibly.
        The scheme became hugely popular and over the years it has raised much-needed funds for many charities.<br><br>
        Since 2020, the Covid pandemic has created challenges and caused suffering that previously could never have
        been imagined.  Funding for charities to provide support services to vulnerable and disadvantaged people and
        communities has never been more in need. The Silverlake team decided the best way to help, and mark the
        company’s 75th anniversary in 2021, was to re-launch UDonateacar with a new focus.<br><br>
        New for 2021, UDonateacar has teamed up with national charity Global’s Make Some Noise to focus on supporting
        the small, often lessor known charities working in local communities. These charities provide crucial services
        including food banks, mental health and domestic violence helplines, carer support, community projects and
        employment programmes to name a few. 100% of the monies raised by donations to UDonateacar are passed to
        Global’s Make Some Noise which distributes funds to small, local charities which have applied for grants and
        successfully completed an assessment and approval process.<br><br>
        Also new for 2021 is UDonateacar’s partnership with Kinto – the global brand for Toyota’s mobility services.
        Kinto provides fleet management and funding solutions and is dedicated to offering mobility services to
        existing and future customers in the UK. Our thanks to Kinto for generously providing the UDonateacar team
        with an environmentally friendly electric car which is used to visit regional businesses and community events
        to promote the initiative.
    </span>
{% endblock %}
