{% load static %}

<div class="info__logos wrap">
    <div class="grid-x grid-padding-x">
        <div class="cell medium-2 small-6">
            <img src="{% static 'images/gmsn-grey.png' %}" alt="global make some noise logo grey">
        </div>
        <div class="cell medium-2 small-6">
            <img class="info__logos--small" src="{% static 'images/soton-council-grey.png' %}"
                 alt="southampton city council logo grey">
        </div>
        <div class="cell medium-2 small-6">
            <img src="{% static 'images/portsmouth-council-grey.png' %}" alt="portsmouth city council grey">
        </div>
        <div class="cell medium-2 small-6">
            <img src="{% static 'images/fire-rescue.png' %}" alt="hampshire fire rescue logo grey">
        </div>
        <div class="cell medium-2 small-6">
            <img src="{% static 'images/hants-council-grey.png' %}" alt="hampshire county council logo grey">
        </div>
        <div class="cell medium-2 small-6">
            <img src="{% static 'images/vrac.png' %}" alt="vrac logo grey">
        </div>
    </div>
    <div class="info__logos__disclaimer">
        Global’s Make Some Noise is an appeal operated by Global Charities Limited,
        a registered charity in England & Wales (1091657) & Scotland (SC041475)
    </div>
</div>